body {
  background: #000000;
  font-family: 'Lobster', cursive; }

.container {
  margin: 100px;
  text-align: center;
  font-size: 100px;
  color: pink; }
  .container p {
    padding: 100px;
    align-content: center; }
