body{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background: #000000; 
}
.container{
  text-align: center;
  font-size: 100px;
  font-weight: 300;
  color: white;
  p {
    padding: 100px;
    align-content: center;
  }
}